doctype
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
  link(rel='stylesheet', href='../style.css')

  //- Webfonts
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,400i,900,900i')

  title Summer Challenge × Phil Smith
body
  main.center.max-width.ph3
    a(href='http://philsmith.me') ← philsmith.me
    header.mv4
      .f2.merriweather Summer Challenge
      p.o-40 <a href='https://www.wikiwand.com/en/Canada'>Canada</a> is amazing. The government offers new mothers and fathers paid time off. When our son was born in the States, neither of us had any paid time off. Then, my wife even had to go back to work after seven weeks. Quite the difference here and now. The government does not cover my full pay, so my <a href='https://www.acl.com/about-us/careers/'>amazing employer</a> offers a top-up for 3½ months so I can receive full pay. You read that right &ndash; 3½ months fully paid time off. The Summer Challenge is my attempt to make the most of it. I want to do something new, or interesting, or memorable every. single. day.

      hr.o-20.mh6.mv4

    mixin day(day_count, date, title, description, img_src, caption)
      .day.mb5
        .date-info
          .fl.gold.b.merriweather Day #{day_count}
          .fr.gold= date
          .cf
        .f1.merriweather.mb2!= title
        p!= description
        figure.mw6.mh0
          img(src=img_src).br2.shadow-4
          figcaption.o-40!= caption

    // +day(#, 'Sun. May 20, 2018', 'Title', 'Description', 'link.com', 'day_3')

    // +day(
    //   #, 'Sun. May 20, 2018', 
    //   'Title', 'Description', 
    //   'link.com', 'day_3'
    //   )

    - var copyright = "Photo &copy; 2018 Phil Smith"

    +day(
      4, 'Mon. May 21, 2018',
      'Sword Fighting at Lighthouse Park', '(Victoria Day)',
      'sword-fighting.jpg', copyright
    )

    +day(
      3, 'Sun. May 20, 2018',
      'Soaking in Prospect Point', null,
      'prospect-point.jpg', copyright
    )

    +day(
      2, 'Sat. May 19, 2018',
      'First Sand Feels', null,
      'sand-feels.jpg', copyright
    )

    +day(
      1, 'Fri. May 18, 2018',
      'Made Sushi for the First Time', 'It was both surprisingly delicious and surprisingly easy!',
      'sushi.jpg', copyright
    )

    +day(
      0, 'Thu. May 17, 2018',
      'Big Chop',
      'Raced in <a href="http://www.bigchop.ca">Big Chop</a>',
      'https://scontent.fcxh2-1.fna.fbcdn.net/v/t1.0-9/31949774_1904518729579973_7704269609230139392_o.jpg?_nc_cat=0&oh=8bd449201cb4df312d50c0a075eec9f0&oe=5B9A31C2',
      'Photo credit: <a href="https://www.facebook.com/thebigchop/photos/a.1904518109580035.1073741893.115008011864396/1904518726246640/?type=3&theater">Big Chop via Facebook</a>'
    )
