doctype
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
  link(rel='stylesheet', href='../style.css')

  //- Webfonts
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,400i,900,900i')

  title Summer Challenge × Phil Smith
  script(src="https://cdn.apple-livephotoskit.com/lpk/1/livephotoskit.js")

body
  main.center.max-width.ph3
    a(href='http://philsmith.me') ← philsmith.me
    header.mv4
      .f2.merriweather Summer Challenge
      .f1.mb3.mt1 Make Every Day Meaningful
      p.o-40 <a href='https://www.wikiwand.com/en/Canada'>Canada</a> is amazing. The government offers new mothers and fathers paid time off. When our son was born in the States, neither of us had any paid time off. Then, my wife even had to go back to work after seven weeks. Quite the difference here and now. The government does not cover my full pay, so my <a href='https://www.acl.com/about-us/careers/'>amazing employer</a> offers a top-up for 3½ months so I can receive full pay. You read that right &ndash; 3½ months fully paid time off. The Summer Challenge is my attempt to make the most of it. I want to do something new, or interesting, or memorable every. single. day.

      hr.o-20.mh6.mv4

    mixin day(day_count, date, title, description, img_src, caption, live_photo)
      .day.mb5(id=day_count)
        .date-info
          .fl.gold.b.merriweather Day #{day_count}
          .fr.gold= date
          .cf
        .f1.merriweather.mb2!= title
        p!= description
        figure.mw6.mh0
          img(src=img_src).br2.shadow-4
          figcaption.o-40!= caption



    mixin day--live-photo(day_count, date, title, description, img_src, caption)
      .day.mb5(id=day_count)
        .date-info
          .fl.gold.b.merriweather Day #{day_count}
          .fr.gold= date
          .cf
        .f1.merriweather.mb2!= title
        p!= description
        figure.mh0
          .live-photo.br2.shadow-4.mw6(
            data-live-photo
            data-photo-src=img_src + ".jpg"
            data-video-src=img_src + ".mov"
            style="width: 466px; max-width: 100%; height: 622px;")
          figcaption.o-40!= caption

    // 3024 × 4032

    // +day(#, 'Sun. May 20, 2018', 'Title', 'Description', 'link.com', 'day_3')

    // +day(
    //   #, 'Sun. May 20, 2018', 
    //   'Title', 'Description', 
    //   'link.com', copyright
    //   )

    - var copyright = "Photo &copy; 2018 Phil Smith"

    // +day(
    //   12, 'Tue. May 29, 2018', 
    //   'Next', 
    //   null, 
    //   null, copyright
    //   )

    +day(
      11, 'Mon. May 28, 2018', 
      'Sailing Puzzle', 
      'Not only did I make a sailboat puzzle, per Brayden’s request, but I signed up for sailing lessons too! The heavy stock of paper was still too thin. Next time I may glue together several pieces of paper if I don’t have cardboard.', 
      'sail-puzzle.jpg', copyright
      )

    +day--live-photo(
      10, 'Sun. May 27, 2018', 
      'Tested the ‘Perfect Sangria’', 
      '…Which didn’t actually need testing, having come from America’s Test Kitchen. I cannot recommend <a href="https://www.goodreads.com/book/show/12470265-the-cook-s-illustrated-cookbook">their cookbook</a> more.', 
      'sangria', copyright
      )

    +day(
      9, 'Sat. May 26, 2018', 
      'Sat Under the Inukshuk', 
      'Usually smaller than this five-story one, inukshuks ‘act as sign posts or distance markers that can be seen on the flat horizon.’', 
      'inukshuk.jpg', copyright
      )

    +day(
      8, 'Fri. May 25, 2018', 
      'Live Photos', 'I learned how to add  Live Photos to a website. It was not too difficult, except for getting them to be responsive. See Apple’s page to learn how: <a href="https://developer.apple.com/documentation/livephotoskitjs">LivePhotosKit JS’</a>.',
      null, null
      )

    +day(
      7, 'Thu. May 24, 2018', 
      'Spot Prawn Scampi', 'A true B.C. delicacy, spot prawns were the perfect way to celebrate my love’s birthday. Scampi was the right choice because the buttery, delicate flavour of the prawns was enhanced by the sauce.', 
      'spot-prawns.jpg', copyright
      )

    +day(
      6, 'Wed. May 23, 2018', 
      'Discovered a New Playground by YVR ', undefined, 
      undefined, undefined
      )

    +day--live-photo(
      5, 'Tue. May 22, 2018', 
      'Magic Observed', 'I was running around getting ready for sailing and paddling this summer when I looked up and noticed something in the air.', 
      'magic', copyright
      )

    +day--live-photo(
      4, 'Mon. May 21, 2018',
      'Sword Fighting at Lighthouse Park', '(Victoria Day)',
      'sword-fighting', copyright
    )

    +day(
      3, 'Sun. May 20, 2018',
      'Soaking in Prospect Point', null,
      'prospect-point.jpg', copyright
    )

    +day--live-photo(
      2, 'Sat. May 19, 2018',
      'First Sand Feels at Kits Beach', null,
      'sand-feels', copyright
    )

    +day(
      1, 'Fri. May 18, 2018',
      'Made Sushi for the First Time', 'It was both surprisingly delicious and surprisingly easy!',
      'sushi.jpg', copyright
    )

    +day(
      0, 'Thu. May 17, 2018',
      'Big Chop',
      'Raced in <a href="http://www.bigchop.ca">Big Chop</a>',
      'https://scontent.fcxh2-1.fna.fbcdn.net/v/t1.0-9/31949774_1904518729579973_7704269609230139392_o.jpg?_nc_cat=0&oh=8bd449201cb4df312d50c0a075eec9f0&oe=5B9A31C2',
      'Photo credit: <a href="https://www.facebook.com/thebigchop/photos/a.1904518109580035.1073741893.115008011864396/1904518726246640/?type=3&theater">Big Chop via Facebook</a>'
    )
