link(rel='stylesheet' href='/source/components/meta-tag-custom.css' preload)

mixin metaTagCustom(title, description, pageURL, imgSrc)
  // Primary Meta Tags
  // Title
  title=title
  meta(name='title' content=title)
  meta(property='og:title' content=title)
  meta(property='twitter:title' content=title)

  // Description
  meta(name='description' content=description)
  meta(property='og:description' content=description)
  meta(property='twitter:description' content=description)

  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://gotimehq.com/'+pageURL)
  meta(property='og:image' content='https://gotimehq.com/source/images/'+imgSrc+'.jpg')

  // Twitter
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:url' content='https://gotimehq.com/'+pageURL)
  meta(property='twitter:image' content='https://gotimehq.com/source/images/'+imgSrc+'.jpg')