//- May consider https://www.addevent.com
html
head
  title 🗓 CG Calendar
  meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
  link( rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css")
  //- script(src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js')
  //- link(href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet')


  style
    include style.css


mixin event(weekday, day, month, time, title, desc, link)
  .event.mb4.pb4
    .tc.fl.pa2(style='width: 80px')
      P= weekday
      .f2.fw5= day
      .ttu.tracked= month

    .fl.mt1.ph3(style='width: calc(100vw - 80px); max-width: 65ch;')
      .f4.fw9= title
      .ttu.tracked.mv2.o-50= time
      .mv2.lh-copy= desc
        a(href=link).pl2.black= link

      //- figure.fl.mv2
      //-   .w-50
      //-   div(id='blenheim' style='width: 300px; height: 200px;').fr.mb2.bg-near-white
      //-   figcaption.tc.f6.o-50
      //-     a(href=link)
      //-       p.black= location
      //-   script
      //-     include maps/blenheim.js
    .cf

body
main
  p 👻
  // .mb4.pa2.bg-near-black.white.fw9.tc Chris &amp; Skylar’s CG 🗓

  // +event(
  //   'Wed',
  //   25,
  //   'Apr',
  //   '6:30 PM – 9:00 PM',
  //   'Community Group',
  //   'Every Wednesday night. Normal rhythm: socialize, snacks, read the Bible, discuss the sermon, pray together.',
  //   ''
  //   )

  // +event(
  //   'Wed',
  //   2,
  //   'May',
  //   '6:30 PM – 9:00 PM',
  //   'Community Group',
  //   'Every Wednesday night. Normal rhythm: socialize, snacks, read the Bible, discuss the sermon, pray together.',
  //   ''
  //   )

  // +event(
  //   'Mon',
  //   7,
  //   'May',
  //   '8:00 PM – 9:30 PM',
  //   'Guys’ Night',
  //   'Every other Monday at Phil’s place.',
  //   ''
  //   )

  // +event(
  //   'Wed',
  //   9,
  //   'May',
  //   '6:30 PM – 9:00 PM',
  //   'Community Group',
  //   'Every Wednesday night. Normal rhythm: socialize, snacks, read the Bible, discuss the sermon, pray together.',
  //   ''
  //   )

  // .o-20: +event(
  //   '',
  //   'TBD',
  //   '',
  //   '',
  //   'Picnic at Kits Beach ☀️',
  //   '',
  //   ''
  //   )
