head
  link(rel="stylesheet" type="text/css" href="source/webfonts-min.css" preload)
  link(rel='stylesheet' href='css/style.css' preload)
  // TK link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' preload)
  //- link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
  //- base(href='https://philsmith.me')
  meta(name="viewport" content="width=device-width, initial-scale=1")



  // Primary Meta Tags
  // https://metatags.io

  title Limitless design for ambitious startups
  meta(name='title' content='Limitless design for ambitious startups')
  meta(name='description' content='Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.')
  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://philsmith.me/')
  meta(property='og:title' content='Limitless design for startups')
  meta(property='og:description' content='Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.')
  meta(property='og:image' content='/assets/philsmith.jpg')
  // Twitter
  meta(property='twitter:card' content='assets/philsmith.jpg')
  meta(property='twitter:url' content='https://philsmith.me/')
  meta(property='twitter:title' content='Limitless design for startups')
  meta(property='twitter:description' content='Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.')
  meta(property='twitter:image' content='assets/philsmith.jpg')

  link(rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
  link(rel="manifest" href="images/site.webmanifest")


  
  //- https://favicon.io
  
  link(rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
  link(rel="manifest" href="assets/site.webmanifest")



body
  main
    section.hero.tc.pa-1.pt4.pb4
      h1.f-gradient.animate__animated.animate__fadeInDown Limitless design for ambitious startups
      .f1.mt-1.animate__animated.animate__fadeIn.animate__delay-1s 
        p Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.
        a.f1.call-to-action.bg-gradient(href='https://airtable.com/shr5OfqlF5QetFVKe' target='blank') Get started

    section
      header.animate__animated.animate__fadeInUp.animate__delay-2s 
        h1.f2.fw3.tc Selected work
        p.tc.f-nonessential (Most recent work is secret and can&rsquo;t be shared here)




      .designs
        mixin design(title, desc, href, bgimg)
          a.design-card(href=href target='_blank')
            .design(style!=attributes.bgimg)
            .design-description
              p= desc

        +design("Bird Song", "mobile - bird song", "https://dribbble.com/shots/11715056-Bird-Song-Radar")(bgimg="background-image: url(assets/design-birdsong.png)")
        +design("Dunder Mifflin", "product design - dashoard", "https://dribbble.com/shots/11674598-Dunder-Mifflin-Ice-Cream-Co")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11674598/media/b8693e6c8c5767b85212ea95e5cfc686.png)")
        +design("Becoming Bartenders", "branding - cocktail class", "https://dribbble.com/shots/14706602-Becoming-Bartenders-Cocktail-Class")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/14706602/media/c1c30d5690236e81b535f53973a735b5.jpg?compress=1&resize=1600x1200&vertical=top)")
        +design("Book Recos", "mobile - book recommendations", "https://dribbble.com/shots/11708937-Innovative-Book-Recommendations")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11708937/media/85551aa446959138f6f0c0bf59123de3.png?compress=1&resize=1600x1200&vertical=top)")
        +design("Daylight Savings", "graphic design", "https://dribbble.com/shots/7945704-Daylight-Savings-Strike")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7945704/image.png)")
        +design("Paprika", "branding", "https://dribbble.com/shots/5943855-Paprika")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/5943855/paprika_logo___dribbble.png)")
        +design("VV Icons", "icon design", "https://dribbble.com/shots/11145253-Take-a-Hike")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11145253/media/bde2c66f88c017c5105c44f62a0420e4.png)")
        +design("Recycling", "desing thinking & illustration", "https://medium.com/galvanize/redesign-recycling-a-design-thinking-odyssey-7d9e55266bea")(bgimg="background-image: url(assets/design-recycying.png)")
        +design("Patagonia", "web design", "https://dribbble.com/shots/11705499-How-might-we-fight-climate-change")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11705499/media/1ccb6ae630779dc8b3026d4b895d608c.png?compress=1&resize=1600x1200&vertical=top)")
        +design("Sticky Note Kit", "figma community file", "https://www.figma.com/community/file/829850832311290824/Sticky-Note-Kit")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/10987908/media/8af176e86bcbf435dfdc3405161bf173.png?compress=1&resize=1600x1200&vertical=top)")
        +design("Timbersmith", "branding - furniture maker", "https://dribbble.com/shots/7892423-Timbersmith")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7892423/media/9fa88b73e5fb61b443c64672ab2bd4f8.png?compress=1&resize=1600x1200&vertical=top)")
        // +design("Title", "description", "http")(bgimg="background-image: url()")

        
        



    
        
    .designs.delete

        
        .animate__animated.animate__fadeInUp.animate__delay-2s
          a.design(
            href='https://medium.com/galvanize/dot-voting-remix-d21b93abfc92'
            style='background-image: url(https://miro.medium.com/max/5464/1*iyvZLXK0_sHftO4jg9hUYw.jpeg)'
            target='_blank')
            .design-description
              .design-title User Research #[.design-extra-info (5 min. read)] 
              div Remixing dot voting to remove bias and make emails better for users →

            a.design(
              href='https://dribbble.com/shots/11715056-Bird-Song-Radar' 
              style='background-image: url(https://i.imgur.com/qvR0U0C.png); background-size: cover'
              target='blank')
              .design-description
                .fw7 UI/UX Design #[.design-extra-info (concept)] 
                div Bird song radar →

          a.design(
            href='https://medium.com/galvanize/redesign-recycling-a-design-thinking-odyssey-7d9e55266bea'
            style='background-image: url(https://miro.medium.com/max/14550/1*AI5qYyFhah7n7ghC7meaxA.png)'
            target='_blank')
            .design-description 
              .design-title Design Thinking #[.design-extra-info (7 min. read)] 
              div Using human-centred design to reimagine the recycling experience →

          a.design(
            href='https://dribbble.com/shots/11708937-Innovative-Book-Recommendations' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11708937/media/ff1133f40a9d1b9d98e7de48e6ec8ca2.png)'
            target='blank')
            .design-description
              .fw7 UI/UX Design #[.design-extra-info (concept)] 
              div Innovative book recommendations →

          a.design(
            href='https://medium.com/galvanize/your-design-team-needs-a-story-retro-87f5b9e43827'
            style='background-image: url(https://miro.medium.com/max/2400/1*K0XP7iO0OzbOH11DFsmXbQ.png); background-size: cover'
            target='_blank')
            .design-description 
              .design-title Facilitation #[.design-extra-info (4 min. read)] 
              div Leading a collaborative storytelling exercise to move the team forward →

          a.design(
            href='https://dribbble.com/shots/11674598-Dunder-Mifflin-Ice-Cream-Co' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11674598/media/b8693e6c8c5767b85212ea95e5cfc686.png)'
            target='blank')
            .design-description
              .fw7 UI Design #[.design-extra-info (concept)] 
              div Dunder Mifflin Ice Cream Co. →

          a.design(
            href='https://dribbble.com/shots/11707414-Just-another-dashboard' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11707414/media/d50b7bb6604406df2d7877b867dc544e.png)'
            target='blank')
            .design-description
              .fw7 UI/UX Design #[.design-extra-info (development)] 
              div A new feature at work →

          a.design(
            href='https://dribbble.com/shots/11705499-How-might-we-fight-climate-change' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11705499/media/1ccb6ae630779dc8b3026d4b895d608c.png)'
            target='blank')
            .design-description
              .fw7 UI Design #[.design-extra-info (concept)] 
              div Reframing the conversation on corporations vs. climate →

          a.design(
            href='https://dribbble.com/shots/11540814-Just-another-table' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11540814/media/eaf39ec96a88796dad918804de56d4b8.png)'
            target='blank')
            .design-description
              .fw7 Design Systems #[.design-extra-info (production)] 
              div A table for simple lists to 100,000s of rows →

          a.design.daylight-savings(
              href='https://dribbble.com/shots/7945704-Daylight-Savings-Strike' 
              style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7945704/image.png)'
              target='blank')
              .design-description
                .fw7 Illustration
                div 91.6% of the public disapproves of daylight savings time →

          a.design(
            href='https://dribbble.com/shots/11145253-Take-a-Hike' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11145253/media/bde2c66f88c017c5105c44f62a0420e4.png)'
            target='blank')
            .design-description
              .fw7 Icon Design
              div A new way to frame goals →

          a.design(
            href='https://dribbble.com/shots/5943855-Paprika' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/5943855/paprika_logo___dribbble.png)'
            target='blank')
            .design-description
              .fw7 Logo Design 
              div Reframing the conversation on corporations vs. climate →

          a.design.tiny-win(
            href='https://dribbble.com/shots/8888929-Tiny-Wins' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/8888929/media/c2f57709a17582ff477d71385c53c033.jpg)'
            target='blank')
            .design-description
              .fw7 Logo Design 
              div Tiny wins →

          a.design.timbersmith(
            href='https://dribbble.com/shots/7892423-Timbersmith' 
            style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7892423/media/9fa88b73e5fb61b443c64672ab2bd4f8.png)'
            target='blank')
            .design-description
              .fw7 Brand Identity
              div A danish modern craft furniture maker →



    .cf
    .social-links.fw5.f.f-default.pa.cf
      a(href='https://mobile.twitter.com/philsoutside' target='blank').mr1 Twitter
      a(href='http://dribbble.com/philsmith' target='blank').mr1 Dribbble
      // a(href='http://github.com/pxsmith' target='blank').mr1 Github
      a(href='https://www.linkedin.com/in/pxsmith/' target='blank').mr1 Linkedin
      a(href='http://instagram.com/philsoutside' target='blank').mr1 Instagram
    .cf
    
    script(data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer)
