head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
  link(rel="stylesheet" type="text/css" href="source/webfonts.css" preload)
  link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
  link(rel='stylesheet' href='css/style.css')
  link(rel="stylesheet", href="css/music.css")
  //- base(href='https://philsmith.me')

  //- TK REPLACE THIS
  //- https://favicon.io
  link(rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
  link(rel="manifest" href="images/site.webmanifest")

body
  main
    #bio
      .bio-copy.w-80.fl.pa.pr1 <span class='fw7'>Phil Smith</span> is a product designer in Vancouver, BC focusing on UX & UI design for the past 5 years. As a Swiss Army knife of designers his experience includes brand strategy, illustration, print & apparel design, & front-end development.
      
      .w-20.fr.pt.pr
        a.call-to-action(
          href='https://airtable.com/shr5OfqlF5QetFVKe' 
          target='blank').fr.db Connect now!
      .cf

    #projects
      h1.fancy-heading Projects
      .ma.social-links
        a.f1.fw5(href='https://www.certifiedfire.club') Certified Fire: music discovery club
        
    .cf
    #case-studies
      h1.fancy-heading Case Studies
      a.case-study.dot-voting(
        href='https://medium.com/galvanize/dot-voting-remix-d21b93abfc92' 
        style='background-image: url(https://miro.medium.com/max/5464/1*iyvZLXK0_sHftO4jg9hUYw.jpeg)'
        target='blank' 
        )
        .f1.fw5 User Research
        .pa-3
        .f1 Remixing dot voting to remove bias and make emails better for users

      a.case-study.design-thinking(
        href='https://medium.com/galvanize/redesign-recycling-a-design-thinking-odyssey-7d9e55266bea' 
        style='background-image: url(https://miro.medium.com/max/14550/1*AI5qYyFhah7n7ghC7meaxA.png)'
        target='blank') 
        .f1.fw5 Design Thinking
        .pa-3
        .f1 Using human-centred design to reimagine the recycling experience
  
      a.case-study.retro(
        href='https://medium.com/galvanize/your-design-team-needs-a-story-retro-87f5b9e43827' 
        style='background-image: linear-gradient(135deg,rgba(254, 243, 246, 0.98), rgba(233, 224, 226, 0.85)), url(https://miro.medium.com/max/2560/0*J25cg9prR4qzRbRg)'
        target='blank' 
        )
        .f1.fw5 Facilitation
        .pa-3
        .f1 Leading a collaborative storytelling exercise to move the team forward
        
      //- a.case-study.design-systems(
        style='background-image: linear-gradient(135deg,rgba(248, 220, 55, 1), rgba(248, 220, 55, 1))'
        target='blank' 
        )
        .f1 Design Systems
        .pa-3
        .f1 Coming soon…
    
    .cf
    #designs.mt2
      h1.fancy-heading Selected Designs
      a.design.daylight-savings(
        href='https://dribbble.com/shots/7945704-Daylight-Savings-Strike' 
        style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7945704/image.png)'
        target='blank')
      a.design(
        href='https://dribbble.com/shots/5943855-Paprika' 
        style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/5943855/paprika_logo___dribbble.png)'
        target='blank')
      a.design.tiny-win(
        href='https://dribbble.com/shots/8888929-Tiny-Wins' 
        style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/8888929/media/c2f57709a17582ff477d71385c53c033.jpg)'
        target='blank')
      a.design.timbersmith(
        href='https://dribbble.com/shots/7892423-Timbersmith' 
        style='background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7892423/media/9fa88b73e5fb61b443c64672ab2bd4f8.png)'
        target='blank')
      //- a.design(
      //-   href='' 
      //-   style='background-image: url()'
      //-   target='blank')
      //- a.design(
      //-   href='' 
      //-   style='background-image: url()'
      //-   target='blank')
      //- a.design(
      //-   href='' 
      //-   style='background-image: url()'
      //-   target='blank')
      
    h1.fancy-heading Philosophy 
    h2.ma Great design—fire design—functions beautifully. Beauty and function are inseparable. If your product isn’t 🔥 you’re on the highway to obsolescence. 
      
    h1.fancy-heading Process
    h2.ma Share early & often. 1. Discover → 2. Explore → 3. Design → 4. Test → 5. Ship
    
    //- h1.fancy-heading Services
    //- .ma
    //-   h2.dib.w-33 Brand Strategy
    //-   h2.dib.w-33 Web & App Design
    //-   h2.dib.w-33 Front-end Development
    //-   h2.dib.w-33 Illustration
    //-   h2.dib.w-33 Apparel Design
    
    .fancy-heading
    a.call-to-action(href='https://airtable.com/shr5OfqlF5QetFVKe' target='blank').db.ma Connect now!

    .ma.social-links.fw5
      a(href='http://dribbble.com/philsmith' target='blank').mr1 Dribbble
      a(href='https://mobile.twitter.com/philsoutside' target='blank').mr1 Twitter
      a(href='http://github.com/pxsmith' target='blank').mr1 Github
      a(href='http://instagram.com/philsoutside' target='blank').mr1 Instagram
      //- a(href='/linkedin.html').mr1 LinkedUn
    

    script(src='index.js')
